<h3>
    <a class="post-link" href="{{ post.url | relative_url }}">
    {{ post.title | escape }}
    </a>
</h3>
{%- if site.show_description and post.description  -%}
<p class="post-meta-description">{{ post.description }}</p>
{%- endif -%}
<p class="post-meta">{{ post.date | date: date_format }}</p>

{% if page.applause_button %}
  <link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css">
  <script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
{% endif %}